<%- include("../partials/header", { page_title: page_title }); %>

<h1 class="title">
   <%= page_title %>
</h1>

<p class="subtitle is-4">
    <%= page_description %>
</p>

<% if (table_name !== "users") { %>
<a href="<%= new_endpoint %>" class="button is-success new-entity-button"><i class="fas fa-fw fa-plus"></i>New <%= pretty_name %></a>
<% } %>
<% if (rows.length > 0) { %>
<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
        <% fields.forEach( field => { %>
            <th><%= field.pretty %></th>
        <% }); %>
        <% if (locals.update) { %>
        <th>Update</th>
        <% } %>
        <% if (locals.delete) { %>
        <th>Delete</th>
        <% } %>
        <% if (locals.child_endpoint) { %>
            <th>Add Child</th>
        <% } %>
    </thead>
    <tbody>
        <% rows.forEach( row => { %>
        <tr>
            <% fields.forEach( field => { %>
            <td><%= row[field.name] %></td>
            <% }); %>
            
            <% if (locals.update) { %>
            <td>
            <div class="button-container">
                <a href="/<%= table_name %>/edit/<%= row.id %>" method="GET">
                    <button class="button is-info is-small is-rounded">
                    <i class="fas fa-fw fa-edit"></i>
                </a>
            </div>
            </td>
            <% } if (locals.delete) { %>
            <td>
            <div class="button-container">
                <form action="/<%= table_name %>/<% row.id %>" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="<%= id_name %>" value="<%= row.id %>">
                    <button type="submit" class="button is-danger is-small is-rounded">
                    <i class="fas fa-fw fa-times-circle"></i>
                </form>
            </div>
            </td>
            <% } if (locals.child_endpoint) { %>
            <td>
                <form action="<%= child_endpoint %>" method="GET">
                    <input type="hidden" name="<%= id_name %>" value="<%= row.id %>">
                    <button class="button is-success is-small"><i class="fas fa-fw fa-plus">
                    </i>New <%= child_name %></a>
                </form>
            </td>
            <% } %>
        </tr>
        <% }); %>
    </tbody>
</table>
<% } else { %>
<h2>No data</h2>!
<% } %>

<%- include ../partials/footer %>