<%- include('../partials/header', { page_title: page_title }); %>

<h1 class="title">
   <%= page_title %>
</h1>

<a href="/<%= table_name %>/new %>" class="button is-success"><i class="fas fa-fw fa-plus"></i>New <%= pretty_name %></a>
<br>

<% if (rows.length > 0) { %>
<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
        <% fields.forEach( field => { %>
            <th><%= field.pretty %></th>
        <% }); %>
    </thead>
    <tbody>
        <% rows.forEach( row => { %>
        <tr>
            <% fields.forEach( field => { %>
            <td><%= row[field.name] %></td>
            <% }); %>
        </tr>
        <% }); %>
    </tbody>
</table>
<% } else { %>
<h2>No <%= pretty_name %>s</h2>!
<% } %>

<%- include ../partials/footer %>