<%- include('../partials/header'); %>

<h1 class="title">
    Checked-out Requests
</h1>
<p class="subtitle is-4">
    These requests are currently checked-out:
</p>
<% if (rows) { %>
<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
        <th>User</th>
        <th>Game</th>
        <th>Platform</th>
        <th>Library Tag</th>
        <th>Update</th>
    </thead>
    <tbody>
        <% rows.forEach( row => { %>
        <tr>
            <td><%= row.user %></td>
            <td><%= row.title %></td>
            <td><%= row.platform %></td>
            <td><%= row.library_tag %></td>
            <td>
                <form action="/game_requests/<%= row.id %>/check_in" method="POST">
                <input type="submit" class="button" value="Check-in">
                </form>
            </td>
        </tr>
        <% }); %>
    </tbody>
</table>
<% } else { %>
No rows!
<% } %>

<%- include ../partials/footer %>