<%- include('../partials/header'); %>

<h1 class="title">
    Pending Requests
</h1>
<p class="subtitle is-4">
    These requests are currently in queue:
</p>
<% if (rows) { %>
<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
        <th>User</th>
        <th>Game</th>
        <th>Platform</th>
        <th>Assign Library Tag</th>
        <th>Update</th>
    </thead>
    <tbody>
        <% rows.forEach( row => { %>
        <tr>
            <td><%= row.user %></td>
            <td><%= row.title %></td>
            <td><%= row.platform %></td>
            <% if (row.copies.length > 0) { %>
            <form action="/game_requests/<%= row.id %>/check_out" method="POST">
            <td>
                <div class="field">
                    <div class="control">
                        <div class="select">
                                <select name="copy_id">
                                    <% row.copies.forEach(copy => { %>
                                    <option value="<%= copy.id %>"><%= copy.library_tag %></option>
                                    <% }); %> 
                                </select>
                        </div>
                    </div>
                </div>
            </td>
            <td><input type="submit" class="button" value="Check Out"></td>
            </form>
            <% } else { %>
            <td>No Copies Available</td>
            <td></td>
            <% } %>
        </tr>
        <% }); %>
    </tbody>
</table>
<% } else { %>
No rows!
<% } %>

<%- include ../partials/footer %>