<%- include('../partials/header'); %>

    <div class="content">
        <h2>Create a new game release:</h2>
    </div>

    <label class="label">Title:</label>
    <%= release.title %>


        <form action="/game_releases/" method="POST">
            <input type="hidden" name="title_id" value="<%= release.title_id %>">

            <label class="label">Platform</label>
            <div class="control">
                <div class="select">
                    <select name="platform_id" id="platform_id" onchange="getName()">
                        <% platforms.forEach( platform => { %>
                            <option value="<%= platform.id %>">
                                <%= platform.name %>
                            </option>
                            <% }); %>
                    </select>
                </div>
            </div>

            <div class="field">
                <label class="label">Release Date</label>
                <div class="control">
                    <input class="input" name="release_date" type="date" required>
                </div>
            </div>

            <div class="field">
                <label class="label">Rating</label>
                <div class="control">
                    <input type="number" min="0" max="5" step="0.1" value="5" name="rating">
                </div>
            </div>

            <div class="field">
                <label class="label">Boxart URL</label>
                <div class="control">
                    <input class="input" type="text" name="boxart_url" required>
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link">Submit</button>
                </div>
                <div class="control">
                    <button class="button is-text">Cancel</button>
                </div>
            </div>
        </form>

        <%- include('../partials/footer'); %>