<!-- from https://bulma.io/documentation/layout/media-object/ -->
<article class="media">
    <% if (game.boxart_url) { %>
        <figure class="media-left">
            <p class="image is-64x64">
            <img src="<%= game.boxart_url %>">
            </p>
        </figure>
    <% } %>
    <div class="media-content">
        <div class="content">
        <p>
            <strong><%= game.title %></strong> <small><%= game.platform %></small> <small><%= game.rating %></small>
            <br>
            <%= game.description %>
        </p>
        </div>
        <nav class="level is-mobile">
        <div class="level-left">
            <% if (user) { %>
            <a class="level-item">
                <form action="/game_requests/" method="POST">
                    <input type="hidden" name="user_id" value="<%= user.id %>">
                    <input type="hidden" name="release_id" value="<%= game.rid %>">
                    <span class="icon is-small"><button type"submit" class="button is-success"><i class="fas fa-fw fa-arrow-circle-down"></i>Request</button></span>
                </form>
            </a>
            <% } %>
        </div>
        </nav>
    </div>
    <div class="media-right">
        <!-- <button class="delete"></button> -->
    </div>
</article>