<%- include('../partials/header'); %>
<div class="content">
  <h3><%= page_heading %> 
    <br>
    <%= row.title %> for <%= row.platform %>
</h3>
</div>
  <form action="<%= endpoint %>" method=POST>
      <input type="hidden" name="game_title" value="<%= row.title %>">
      <input type="hidden" name="game_platform" value="<%= row.platform %>">
      <input type="hidden" name="redirect" value="<%= redirect %>">
    
    <div class="field">
      <label class="label">Libary Tag</label>
      <div class="control">
        <input class="input" type="text" name="library_tag" placeholder="e.g. 123456" value="<%= row.library_tag %>" required>
      </div>
    </div>

    <div class="field">
      <label class="label">Date Procured</label>
      <div class="control">
        <input class="input" type="date" name="dt_procured" value="<%= row.dt_procured %>" required>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link">Save</button>
      </div>
      <div class="control">
        <button class="button is-text">Cancel</button>
      </div>
    </div>
  </form>

  <%- include('../partials/footer'); %>